<header class="header">
    <input type="checkbox" name="" id="nav" hidden>,
    <!-- header logo -->
    <div class="logo">
        <a href="./">
            <img src="https://themazine.com/html/scholars-lms/images/logo/logo.png" alt="Scholar Logo">
        </a>
        <label for="nav">
            <div class="menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </label>
    </div>
    <!-- header nav -->
    <nav class="header__nav">
        <ul>
            <li>
                <a href="#!">HOME</a>
                <button class="header__nav--arrow" aria-label="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Home version one</a></li>
                    <li><a href="#!">Home version Two</a></li>
                    <li><a href="#!">Home video background</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">COURSES</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Course 2 Column</a></li>
                    <li><a href="#!">Course 3 Column</a></li>
                    <li><a href="#!">Course Details</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">EVENTS</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Event List</a></li>
                    <li><a href="#!">Event Grid</a></li>
                    <li><a href="#!">Event Single</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">Pages</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Our teachers</a></li>
                    <li><a href="#!">teachers profile</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Error page</a></li>
                    <li><a href="#!">FAQ Page</a></li>
                    <li><a href="#!">Login</a></li>
                    <li><a href="#!">sign up</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">PORTFOLIO</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">portfolio 2 column</a></li>
                    <li><a href="#!">portfolio 3 column</a></li>
                    <li><a href="#!">portfolio 4 column</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">BLOG</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Blog</a></li>
                    <li><a href="#!">Blog details</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">SHOP</a>
                <button class="header__nav--arrow" title="Expand submenu">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="header__nav--sub-menu">
                    <li><a href="#!">Shop Page</a></li>
                    <li><a href="#!">Shop Details</a></li>
                </ul>
            </li>
            <li><a href="#!">Contact</a></li>
        </ul>
    </nav>
    <!-- header action -->
    <div class="header__action">
        <div class="action__search">
            <input type="checkbox" name="sub-search" id="sub-search" hidden>
            <button class="action__search--btn" title="Search" aria-label="Search">
                <label for="sub-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </button>
            <!-- sub-search -->
            <form action="#" class="sub-search">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit" class="sub-search__btn" title="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="action__cart">
            <button class="action__cart--btn" title="Cart" aria-label="Cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </div>
</header>